---
import Html from './icons/Html.astro'
import Css from './icons/Css.astro'
import Tailwind from './icons/Tailwind.astro'
import Javascript from './icons/Js.astro'
import React from './icons/React.astro'
import Node from './icons/Node.astro'
import Mysql from './icons/Mysql.astro'
import AstroIcon from './icons/AstroIcon.astro'
import Book from './icons/Book.astro'
---

<article class=" h-min-[300px]">
    <section class="py-10 w-full mb-[20px]">
        <h3 class="text-amarillo-texto border-b-4 border-white/60 text-[28px] sm:text-[35px] justify-center flex items-center font-ibm ">Conocimientos <Book class="w-[30px] text-white ml-1 mt-1" /> </h3>
    </section>

    <div class="overflow-hidden bg-negro-claro p-[20px] relative">
        <div class="flex animate-scroll w-max">
          <!-- Bloque duplicado manualmente -->
          <div class="flex w-max">
            <!-- Ãconos originales -->
            <div class="icon-item mr-[100px]">
              <Html class="icon-style" />
              <p class="icon-label">HTML5</p>
            </div>
            <div class="icon-item mr-[100px]">
              <Css class="icon-style" />
              <p class="icon-label">CSS3</p>
            </div>
            <div class="icon-item mr-[100px]">
              <Tailwind class="icon-style" />
              <p class="icon-label">TAILWIND CSS</p>
            </div>
            <div class="icon-item mr-[100px]">
              <Javascript class="icon-style" />
              <p class="icon-label">JAVASCRIPT</p>
            </div>
            <div class="icon-item mr-[100px]">
              <React class="icon-style" />
              <p class="icon-label">REACT</p>
            </div>
            <div class="icon-item mr-[100px]">
              <Node class="icon-style" />
              <p class="icon-label">NODE JS</p>
            </div>
            <div class="icon-item mr-[100px]">
              <Mysql class="icon-style" />
              <p class="icon-label">MYSQL</p>
            </div>
            <div class="icon-item mr-[100px]">
              <AstroIcon class="icon-style" />
              <p class="icon-label">ASTRO</p>
            </div>
          </div>
      
          <!-- Duplicado exacto del bloque de arriba -->
          <div class="flex w-max">
            <div class="icon-item mr-[100px]">
              <Html class="icon-style" />
              <p class="icon-label">HTML5</p>
            </div>
            <div class="icon-item mr-[100px]">
              <Css class="icon-style" />
              <p class="icon-label">CSS3</p>
            </div>
            <div class="icon-item mr-[100px]">
              <Tailwind class="icon-style" />
              <p class="icon-label">TAILWIND CSS</p>
            </div>
            <div class="icon-item mr-[100px]">
              <Javascript class="icon-style" />
              <p class="icon-label">JAVASCRIPT</p>
            </div>
            <div class="icon-item mr-[100px]">
              <React class="icon-style" />
              <p class="icon-label">REACT</p>
            </div>
            <div class="icon-item mr-[100px]">
              <Node class="icon-style" />
              <p class="icon-label">NODE JS</p>
            </div>
            <div class="icon-item mr-[100px]">
              <Mysql class="icon-style" />
              <p class="icon-label">MYSQL</p>
            </div>
            <div class="icon-item mr-[100px]">
              <AstroIcon class="icon-style" />
              <p class="icon-label">ASTRO</p>
            </div>
          </div>
        </div>
      </div>
      
      
      
      

        
  
    
</article>